<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="log-console" cols="200" rows="30"></textarea>
    <br>
    <input id="pass-name-input" type="text" size="100">
    <select>
      <option>all</option>
      <option>prepare</option>
      <option>calibrate</option>
      <option>quantize</option>
      <option>evaluate</option>
      <option>compile</option>
    </select>
    <br>
    <input id="yaml-file-submit" type="button" value="Submit">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/web/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#log-console').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#yaml-file-input').focus();
        document.querySelector('#yaml-file-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#yaml-file-submit').click();
            }
        };

        document.querySelector('#yaml-file-submit').onclick = function(e) {
            const yamlFileInputDom = document.querySelector('#yaml-file-input');
            const passNameInputDom = document.querySelector('#pass-name-input');
            const yaml_file = yamlFileInputDom.value;
            const pass_name = passNameInputDom.value;
            chatSocket.send(JSON.stringify({
                'yaml_file': yaml_file
                'pass_name': pass_name
            }));
            <!-- messageInputDom.value = ''; -->
        };
    </script>
</body>
</html>
